<h2 class="text-center mt-3">Invoices</h2>
<% if user_signed_in? && current_user.admin? %>
  <div class="col-4 d-flex justify-content-center align-items-center">
    <span class="bg-primary px-2 py-1 border">
      <%= link_to 'New Invoice', 
                new_invoice_path, 
                class: "text-white text-decoration-none " 
      %>
    </span>
  </div>
<% end %>