<div class="d-flex justify-content-between align-items-center col-12 pb-2 my-2 border-bottom">
  <span class="col-4 p-0 text-center text-capitalize"><%= invoice_item.name %></span>
  <span class="col-3 p-0 text-center"><%= invoice_item.unit_price %></span>
  <span class="col-2 p-0 text-center"><%= invoice_item.quantity %></span>
  <span class="col-3 p-0 text-center"><%= invoice_item.subtotal %></span>
</div>