<div class="d-flex justify-content-between col-12 p-0">
  <span class="col-4 p-0 text-center"><%= invoice_item.name %></span>
  <span class="col-3 p-0 text-center"><%= invoice_item.unit_price %></span>
  <span class="col-2 p-0 text-center"><%= invoice_item.quantity %></span>
  <span class="col-3 p-0 text-center"><%= invoice_item.subtotal %></span>
</div>